<%- include("partials/header") %>
<html>
  <body>
    <div>
        <section class="container-fluid sectionMargin">
            <div class="row align-items-center">
                <article class="blurb col-md-2">
                    <h2>Join our newsletter to keep up to date. Never know where we might pop up next!</h2>
                    <hr class="slash-1">
                    <form>
                        <input type="text" />
                    </form>
                </article>
                
                <article class="blurb col-8">
                    <% for (item of file) { %>
                    
                    <h2> <%= item.data.title %> </h2>
                    <hr class="slash-1">
                    <p class="lead"> <%= item.data.description %> </p>
                    <p class="lead"> <%= item.content %> </p>
                    <% } %>
                </article>
                
                <article class="blurb col-md-2">
                    <h2>Reserve Entry Today!</h2>
                    <hr class="slash-1">
                    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat adipisci beatae asperiores temporibus ad odio soluta nemo fuga dicta repellendus, omnis neque officiis tempore iure quod pariatur ratione voluptas sapiente.</p>
                </article>
            </div>
        </section>
  </body>
</html>
<%- include("partials/footer") %>